# Detect PHP and Blade properly
*.php linguist-detectable=true
*.blade.php linguist-detectable=true

# Ignore compiled assets
/public/css/* linguist-vendored
/public/js/* linguist-vendored
/public/build/* linguist-vendored

# Ignore vendor and node_modules
/vendor/* linguist-vendored
/node_modules/* linguist-vendored

# Ignore lock and configs
*.lock linguist-vendored
package.json linguist-vendored
webpack.mix.js linguist-vendored
vite.config.js linguist-vendored
